<template>
    <div>
        <div>
            <b-navbar toggleable="lg" type="light" variant="faded">
            <b-navbar-brand href="#">Meal Plan</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <router-link to="/ "><b-nav-item >Home</b-nav-item></router-link>
                <router-link to="/recommend"><b-nav-item disabled>Recommend</b-nav-item></router-link>
                <router-link to="/search"><b-nav-item disabled>Search</b-nav-item></router-link>

            </b-navbar-nav>

            </b-collapse>
            </b-navbar>
        </div>
    </div>
</template>