<template>
    <div>
        <div>
            <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">NavBar</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <router-link to="/"><b-nav-item >Home</b-nav-item></router-link>
                <router-link to="/recommand"><b-nav-item disabled>Recommand</b-nav-item></router-link>
                <router-link to="/setting"><b-nav-item disabled>Setting</b-nav-item></router-link>
            </b-collapse>
            
        </div>
    </div>
</template>