<template>
    <div class>
        <h1><b>Meal Planner</b></h1>
        <b-container>
            <b-row class="end">The School Year&nbsp<b>Ends in</b></b-row>
            <b-row class="days">{{ days }} Days</b-row>
            <b-row class="want">Want to&nbsp<b>Use up</b>&nbspAll Your Meal Plan?</b-row>
            <br/>
            <b-row>
                Enter Your Meal Plan Balance:
            </b-row>
            <b-row>
                <b-col cols=7>
                    <b-form-input v-model="amount" ></b-form-input>
                </b-col>
                <b-col cols=1>
                    <b-button variant="success">Go!</b-button>
                </b-col>
            </b-row>
            <br/>
            <b-row>
                <b-col cols=5>
                    Try Our Recommendations?
                </b-col>
                <b-col cols=1>
                <router-link to="./recommend">
                    <b-button variant="success">Yes!</b-button>
                </router-link>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {
    data() {
        return {
            days: this.countDate(),
            amount: '',
            avg: 0
        }
    },

    methods: {
        countDate(){
            let date = new Date().getDate();
            let month = new Date().getMonth() + 1;
            let remain = 0;

            if(month > 9){
                remain += (12 - month) * 30 + (30 - date) + 4 * 30;
            }else{
                remain += (4 - month) * 30 + (30 - date);
            }

            return remain;
        },

        isNumber: (input) => typeof input === 'number',

        countAvg(){
            let temp = days;
            this.avg = this.amount/temp;
        }
    }
    

}
</script>

<style>
    body {
        background-image: url('../assets/login-background.jpg');
        background-size: cover;
        font-family: 'Lato', sans-serif;
    }
    h1 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 6.5vw
    }
    .end, .want {
        color:rgb(51, 53, 56);
        text-align: center;
        font-size: 2vw
    }

    .days {
        font-family: Chalkduster, fantasy;
        text-align: center;
        font-size: 2.7vw
    }
    
    span4{
        font-size: 120%
    }
</style>


