<template>

<b-container class="bv-example-row bv-example-row-flex-cols">
    <div class="container">
      <b-row align-v="center">
      <b-col>
        <app-header></app-header>
      </b-col>
      <b-col>
        <router-view> </router-view>
      </b-col>
</b-container>
</template>

<script>
import Header from './components/Header'
export default {
  components:{
    appHeader: Header
  }
}
</script>

<style>

</style>
