<template>
  <div>
    <b-container class="container-fluid>
      <b-col align-v="center">
        <b-row>
          <app-header></app-header>
        </b-row>
        <b-row>
          <router-view> </router-view>
        </b-row>
      </b-col>
    </b-container>
  </div>
</template>

<script>
import Header from './components/Header'
export default {
  components:{
    appHeader: Header
  }
}
</script>

<style>

</style>
