<template>


<b-container >




</b-container class="bv-example-row bv-example-row-flex-cols">

    <div class="container">
      <b-row align-v="center">
      <b-col>One of three columns</b-col>
      <b-col>One of three columns</b-col>
      <b-col>One of three columns</b-col>

  </b-row>
      <app-header></app-header>
      <div class="row">
        <div class="col-xs-12">
          <router-view> </router-view>
        </div>
      </div>
    </div>
</template>

<script>
import Header from './components/Header'
export default {
  components:{
    appHeader: Header
  }
}
</script>

<style>

</style>
