<template>
    <div class="container">
      <app-header></app-header>
      <div class="row">
        <div class="col-xs-12">
          <router-view> </router-view>
        </div>
      </div>
    </div>
</template>

<script>
import Header from './components/Header'
export default {
  components:{
    appHeader: Header
  }
}
</script>

<style>
    body{
      background-image: url('./assets/login-background.jpg');
      background-size: cover;
    }
</style>
