<template>
  <div>
    <b-container>
      <b-row align-v="center">
            <app-header></app-header>

          <router-view> </router-view>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from './components/Header'
export default {
  components:{
    appHeader: Header
  }
}
</script>

<style>

</style>
