<template>
    <div class="container">
      <router-view> </router-view>
    </div>
</template>

<script>
import Header from './components/Header'
export default {
  components:{
    appHeader: 
  }
}
</script>

<style>

</style>
