<template>
  <div>
    <b-container class="bv-example-row bv-example-row-flex-cols">
      <b-row align-v="center">
      <b-col>
        <app-header></app-header>
      </b-col>
      <b-col>
        <router-view> </router-view>
      </b-col>
      <b-row>
    </b-container>
  </div>
</template>

<script>
import Header from './components/Header'
export default {
  components:{
    appHeader: Header
  }
}
</script>

<style>

</style>
