<template>
<<<<<<< HEAD
  <div>
    <b-container>
      <b-row align-v="center">
          <app-header></app-header>
      </b-row>
      <b-row align-v="center">
          <router-view> </router-view>
      </b-row>
    </b-container>
  </div>
=======
    <div class="container">
      <app-header></app-header>
      <div class="row">
        <div class="col-xs-12">
          <router-view class="main"> </router-view>
        </div>
      </div>
    </div>
>>>>>>> f918e4430e5e3dd3308390e3ff33783826f216ff
</template>

<script>
import Header from './components/Header'
export default {
  components:{
    appHeader: Header
  }
}
</script>

<style>
  .main{
    text-align: center
  }
</style>
