<template>
  <div>
    <section id="js-grid-list" class="grid-list" v-cloak>

	<!-- Vue.js lets us choose which UL to show depending on the "layout" variable -->
	
    <div class="tool-bar">
		<!-- These link buttons use Vue.js to bind click events to change the "layout" variable and bind an active class -->
		<a class="list-icon" v-on:click="type = 'location'" v-bind:class="{ 'active': layout == 'list'}" title="List"></a>
		<a class="grid-icon" v-on:click="type = 'food'" v-bind:class="{ 'active': layout == 'grid'}" title="Grid"></a>
	</div>

	<!-- <ul v-if="type ==='location'" class="grid" >
		<li v-for="blog in this.blog_posts" v-bind:key="blog" >
			<a v-bind:href="blog.url" v-bind:style="{ backgroundImage: 'url(' + blog.image.large + ')' }" target="_blank"></a>
		</li>
	</ul> -->

    <b-card-group columns v-for="location in this.locations" v-bind:key="location" >
        {{location.}}
        <b-card
            title= location.title
            img-src= location.image.large
            img-alt="Image"
            img-top
        >
        <b-card-text>
            This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.
        </b-card-text>
        </b-card>
    </b-card-group>

</section>
  </div>
</template>

<script>
    export default {
    data() {
        return {
		// type: 'location',
		locations: [{
			title: 'BMH',
			url: 'http://mcgill.ca/foodservices/files/foodservices/bmhweek1_jan2020.pdf',
			image: {
				'large': 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares5.jpg',
			}
        }, 
        {
			title: 'CS',
			url: 'https://mcgill.ca/foodservices/files/foodservices/cs_jan27_2020.pdf',
			image: {
				'large': 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares4.jpg',
			}
        }, 
        {
			title: 'DH',
			url: 'https://mcgill.ca/foodservices/files/foodservices/dhweek4_jan2020.pdf',
			image: {
				'large': 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares3.jpg',
			}
        }, 
        {
			title: 'NRH',
			url: 'https://mcgill.ca/foodservices/files/foodservices/nrh_jan27.pdf',
			image: {
				'large': 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares.jpg',
			}
        }, 
        {
			title: 'RVC',
			url: 'http://mcgill.ca/foodservices/files/foodservices/rvcweek4_jan2020.pdf',
			image: {
				'large': 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares2.jpg',
			}
        }]
        }
    }
    }
    </script>

<style>

    .grid{
        width: 900px;
    }
    * {
        box-sizing: border-box;
    }

    a,
    a:visited,
    a:hover {
        color: #83a1b4;
        display: block;
        outline: none;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    .grid-list {
        background-color: #fff;
        color: #5e5b64;
        font: 17px/1.3 "Open Sans", sans-serif;
        margin: 0 auto;
        max-width: 1024px;
        min-width: 300px;
        padding: 30px;
        text-align:center;
    }


    /* Grid layout */
    .grid {
        background-color: #ddedfb;
        list-style: none;
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        width: 100%;
    }

    .grid li {
        display: inline-block;
        position: relative;
        width: 50%;
    }

    .grid li:after {
        content: "";
        display: block;
        padding-bottom: 52%;
    }

    .grid li a {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid #fff;
        height: 99%;
        position: absolute;
        width: 98%;
    }

    .grid li a:hover {
        border: 2px solid #000;
        box-shadow:         inset 0 0 90px -10px rgba( 0, 0, 0, 1 );
        -moz-box-shadow:    inset 0 0 90px -10px rgba( 0, 0, 0, 1 );
        -webkit-box-shadow: inset 0 0 90px -10px rgba( 0, 0, 0, 1 );
    }

</style>
