<template>
  <div>
      
  </div>
</template>

<script>
import photos from './photos.json';

export default {
  data() {
    return {
      photos,
    };
  },
  methods: {
    thumbUrl(filename) {
      return require(  `../../assets/images/thumbnails/${filename}`)
    },
  },
};
</script>

<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    max-width: 80rem;
    margin: 5rem auto;
    padding: 0 5rem;
  }

  .gallery-panel img {
    width: 100%;
    height: 22vw;
    object-fit: cover;
    border-radius: 0.75rem;
  }
</style>
