<template>
  <div class="lightbox">
    <!-- <img :src="photoUrl(photo.filename)"> -->
    <div class="lightbox-info">
      <div class="lightbox-info-inner">
        Detail
      </div>
    </div>
  </div>
</template>

<script>
import photos from './photos.json';
export default {
  name: 'Photo',
  data() {
    return {
      photos,
    };
  },
  computed: {
    photo() {
      return this.photos.find((photo) => {
        return photo.id === Number(this.$route.params.id);
      });
    },
  },
  methods: {
    photoUrl(filename) {
      return require(`../assets/images/${filename}`);
    },
  },
};
</script>