<template>
  <div>
    <section id="js-grid-list" class="grid-list" v-cloak>

	<div class="tool-bar">
		<!-- These link buttons use Vue.js to bind click events to change the "layout" variable and bind an active class -->
		<a class="list-icon" v-on:click="layout = 'list'" v-bind:class="{ 'active': layout == 'list'}" title="List"></a>
		<a class="grid-icon" v-on:click="layout = 'grid'" v-bind:class="{ 'active': layout == 'grid'}" title="Grid"></a>
	</div>

	<!-- Vue.js lets us choose which UL to show depending on the "layout" variable -->
	
	<ul v-if="layout === 'grid'" class="grid">
		<!-- A "grid" view with photos only -->
		<li v-for="blog in blog_posts" >
			<a v-bind:href="blog.url" v-bind:style="{ backgroundImage: 'url(' + blog.image.large + ')' }" target="_blank"></a>
		</li>
	</ul>

	<ul v-if="layout === 'list'" class="list">
		<!-- A "list" view with small photos and blog titles -->
		<li v-for="blog in blog_posts">
			<a v-bind:href="blog.url" target="_blank">
				<img v-bind:src="blog.image.small">
				<p>{{blog.title}}</p>
			</a>
		</li>
	</ul>

</section>
  </div>
</template>

<script>
import photos from './photos.json';

export default {
  data() {
    return {
      photos,
    };
  },
  methods: {
    thumbUrl(filename) {
      return require(  `../../assets/images/thumbnails/${filename}`)
    },
  },
};
</script>

<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    max-width: 80rem;
    margin: 5rem auto;
    padding: 0 5rem;
  }

  .gallery-panel img {
    width: 100%;
    height: 22vw;
    object-fit: cover;
    border-radius: 0.75rem;
  }
</style>
