<template>
  <div class="lightbox">
    <!-- <img :src="photoUrl(photo.filename)"> -->
    <div class="lightbox-info">
      <div class="lightbox-info-inner">
        Detail
      </div>
    </div>
  </div>
</template>