<template>
  <Photo />
</template>

<script>
import Photo from '@/components/Photo.vue';
export default {
  name: 'photo',
  components: {
    Photo,
  },
};
</script>

<script>
export default {
    
}
</script>

<style>

</style>