<template>
  <div>
    <section id="js-grid-list" class="grid-list" v-cloak>

	<!-- Vue.js lets us choose which UL to show depending on the "layout" variable -->
	
    <template>
    <div>
        
</section>
  </div>
</template>

<script>
    import firebase from 'firebase'
    export default {
        data() {
            return {
            checked: true,
            locations: [],
            menues: []
            }
        },
        methods:{
            fetchData(){
                firebase.database().ref('location').on('value',(snapshot)=>{
                    this.locations=snapshot.val();
                });
                firebase.database().ref('menu').on('value',(snapshot)=>{
                    this.menues=snapshot.val();
                });
            }
        },
        created(){
            this.fetchData();
        }
    }
    </script>

<style>

</style>
