<template>
  <div>

	
    <b-container class="bv-example-row">
    <b-row>
        <b-form-checkbox v-model="checked" name="check-button" switch>Menues or Hall</b-form-checkbox>
    </b-row>

    <b-row>
        <b-col>1 of 3</b-col>
        <b-col>2 of 3</b-col>
        <b-col>3 of 3</b-col>
    </b-row>
    </b-container>



    

</section>
  </div>
</template>

<script>
    import firebase from 'firebase'
    export default {
        data() {
            return {
            checked: true,
            locations: [],
            menues: []
            }
        },
        methods:{
            fetchData(){
                firebase.database().ref('location').on('value',(snapshot)=>{
                    this.locations=snapshot.val();
                });
                firebase.database().ref('menu').on('value',(snapshot)=>{
                    this.menues=snapshot.val();
                });
            }
        },
        created(){
            this.fetchData();
        }
    }
    </script>

<style>

</style>
