<template>
  <div>
    <section id="js-grid-list" class="grid-list" v-cloak>

	<!-- Vue.js lets us choose which UL to show depending on the "layout" variable -->
	
    <template>
    <div>
        <b-form-checkbox v-model="checked" name="check-button" switch>
        Menues or Hall
        </b-form-checkbox>
    </div>
    </template>
    <p>{{locations}}</p>
    <b-card-group columns v-if="checked" v-for="location in this.locations" v-bind:key="location.id" >
        
        <b-card
            :title= "location.title"
            :img-src= "location.image"
            img-alt="Image"
            img-top
        >
        <b-card-text>
            {{ location.description }}
        </b-card-text>
        </b-card>
    </b-card-group>


    <b-card-group columns v-if="!checked" v-for="menue in this.menues" v-bind:key="menue.id" >
        <b-card
            :title= "menue.title"
            :img-src= "menue.image"
            img-alt="Image"
            img-top
        >
        <b-card-text>
            {{ menue.description }}
        </b-card-text>
        </b-card>
    </b-card-group>

</section>
  </div>
</template>

<script>
    import firebase from 'firebase'
    export default {
        data() {
            return {
            checked: true,
            locations: [],
            menues: [{
                title: 'Burger',
                description: 'organic, expensive',
                image: ''
            }]
            }
        },
        methods:{
            fetchData(){
                alert('bhbhjb')
                firebase.database().ref('movies').on('value',(snapshot)=>{
                    this.locations=snapshot.val();
                });
                
            }
        },
        created(){
            this.fetchData();
        }
    }
    </script>

<style>

</style>
