<template>
  <div>
    <section id="js-grid-list" class="grid-list" v-cloak>

	<!-- Vue.js lets us choose which UL to show depending on the "layout" variable -->
	
    <template>
    <div>
        <b-form-checkbox v-model="checked" name="check-button" switch>
        Menues or Hall
        </b-form-checkbox>
    </div>
    </template>

    <b-card-group columns v-if="checked" v-for="location in this.locations" v-bind:key="location" >
        
        <b-card
            :title= "location.title"
            :img-src= "location.image.large"
            img-alt="Image"
            img-top
        >
        <b-card-text>
            {{ location.description }}
        </b-card-text>
        </b-card>
    </b-card-group>

</section>
  </div>
</template>

<script>
    export default {
    data() {
        return {
        checked: true,
        Menues: [{

        },{

        }],
		locations: [{
            title: 'BMH',
            description: 'organic, expensive',
			url: 'http://mcgill.ca/foodservices/files/foodservices/bmhweek1_jan2020.pdf',
			image: 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares5.jpg',
        }, 
        {
            title: 'CS',
            description: 'not organic, also expensive',
			url: 'https://mcgill.ca/foodservices/files/foodservices/cs_jan27_2020.pdf',
			image: 'large': 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares4.jpg',
        }, 
        {
            title: 'DH',
            description: 'junk food, extremely overpriced',
			url: 'https://mcgill.ca/foodservices/files/foodservices/dhweek4_jan2020.pdf',
			image: 'large': 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares3.jpg',
			}
        }, 
        {
            title: 'NRH',
            description: 'trash',
			url: 'https://mcgill.ca/foodservices/files/foodservices/nrh_jan27.pdf',
			image: {
				'large': 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares.jpg',
			}
        }, 
        {
            title: 'RVC',
            description: 'horrible',
			url: 'http://mcgill.ca/foodservices/files/foodservices/rvcweek4_jan2020.pdf',
			image: {
				'large': 'https://www.mcgill.ca/foodservices/files/foodservices/menusonlinesquares2.jpg',
			}
        }]
        }
    }
    }
    </script>

<style>

    .grid{
        width: 900px;
    }
    * {
        box-sizing: border-box;
    }

    a,
    a:visited,
    a:hover {
        color: #83a1b4;
        display: block;
        outline: none;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    .grid-list {
        background-color: #fff;
        color: #5e5b64;
        font: 17px/1.3 "Open Sans", sans-serif;
        margin: 0 auto;
        max-width: 1024px;
        min-width: 300px;
        padding: 30px;
        text-align:center;
    }


    /* Grid layout */
    .grid {
        background-color: #ddedfb;
        list-style: none;
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        width: 100%;
    }

    .grid li {
        display: inline-block;
        position: relative;
        width: 50%;
    }

    .grid li:after {
        content: "";
        display: block;
        padding-bottom: 52%;
    }

    .grid li a {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid #fff;
        height: 99%;
        position: absolute;
        width: 98%;
    }

    .grid li a:hover {
        border: 2px solid #000;
        box-shadow:         inset 0 0 90px -10px rgba( 0, 0, 0, 1 );
        -moz-box-shadow:    inset 0 0 90px -10px rgba( 0, 0, 0, 1 );
        -webkit-box-shadow: inset 0 0 90px -10px rgba( 0, 0, 0, 1 );
    }

</style>
