<template>	
	<div class="container">
		<h1>
			Google Map
		</h1>

		<ul class="list-inline">
			<li class="list-inline-item">
				<a href="#" class="btn btn-success" data-location="Location 1" @click="myclick('Location 1')" >Location 1</a>
			</li>
			<li class="list-inline-item">
				<a href="#" class="btn btn-success" data-location="Location 2" @click="myclick('Location 2')">Location 2</a>
			</li>
			<li class="list-inline-item">
				<a href="#" class="btn btn-success" data-location="Location 3" @click="myclick('Location 3')">Location 3</a>
			</li>
		</ul>

		<!-- <div id="map"></div> -->

		<gmap-map id="map" v-bind="options">
	    	<gmap-marker
	            :key="index"
	            v-for="(m, index) in markers"
	            :position="m.position"
	            :clickable="true"
	            :draggable="true"
	            :label="m.label"
	            @click="openWindow"

	        />
	        <gmap-info-window 
                @closeclick="window_open=false" 
                :opened="window_open" 
                :position="infowindow"
                :options="{
                  pixelOffset: {
                    width: 0,
                    height: 0
                  }
                }"
            >
                Hello world!
            </gmap-info-window> 
	    </gmap-map>
	</div>	
</template>


<script>
import { gmapApi } from "vue2-google-maps";
// import data from "../data.php";

export default {
  name: "GoogleMap",
  data() {
    return {
      options: {
        zoom: 12,
        center: {
          lat: 39.9995601,
          lng: -75.1395161
        },
        mapTypeId: "roadmap"
      },
      info_marker: null,
      infowindow: {
        lat: 39.9995601,
        lng: -75.1395161
      },
      window_open: false
    };
  },
  computed: {
    google: gmapApi,
    mapData() {
      return JSON.parse(data);
    },
    markers() {
      return this.mapData.locations.map(
        ({ label, location: { lat, lon } }) => ({
          label,
          position: {
            lat,
            lng: lon
          }
        })
      );
    }
  },
  watch: {},
  methods: {
    initialize() {
      console.log("init");
    },
    openWindow() {
      console.log(this);
      this.window_open = true;
    }
  },
  mounted: function() {
    this.initialize();
  }
};
</script>

<style lang="scss" scoped>
#map {
  height: 500px;
  width: 100%;
  margin: 0 auto;
}

.gm-style {
  .gm-style-iw {
    overflow: visible;
    margin-bottom: 15px;

    max-width: 350px !important;
    width: 350px !important;
    top: 15px !important;

    background-color: #fff;
    border: none;
    border-radius: 5px;

    box-shadow: 1px 3px 7px 0px rgba(34, 23, 15, 0.21);

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid #fff;
      position: absolute;
      left: 50%;
      margin-left: -5px;
      bottom: -10px;
      z-index: 2;
    }

    &:before {
      content: "";
      left: 50%;
      margin-left: -6px;
      bottom: -15px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 12px solid rgba(34, 23, 15, 0.21);
      position: absolute;
      z-index: 1;

      -webkit-filter: blur(2px);
      -o-filter: blur(2px);
      filter: blur(2px);
    }

    div {
      overflow: hidden !important;
    }

    /* Close Btn */
    & + div {
      background: #2ecc71;
      width: 1rem !important;
      height: 1rem !important;
      line-height: 1rem;
      border-radius: 50%;
      right: 30px !important;
      top: 5px !important;
      color: #fff;
      text-align: center;

      img {
        display: none;
      }
    }

    & + div:before {
      content: "✖";
      color: #fff;
    }

    /* Arrow */
    .iw-container {
      display: block;
      position: relative;

      max-width: 350px;
      width: 100%;
      padding: 0.5rem 0.5rem 1rem;
      display: none;
    }
  }
}

#iw {
  .iw-title {
    font-weight: 700;
    margin: 5px 0 0;
    text-transform: uppercase;
  }

  .iw-adress {
    font-weight: 700;
    margin: 2px 0 0;
    color: #000;
  }

  .iw-lable {
    margin: 2px 0 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #c2c3c4;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
</style>
