<template>	
	<div class="container">
		<h1>
			Google Map
		</h1>

		<ul class="list-inline">
			<li class="list-inline-item">
				<a href="#" class="btn btn-success" data-location="Location 1" @click="myclick('Location 1')" >Location 1</a>
			</li>
			<li class="list-inline-item">
				<a href="#" class="btn btn-success" data-location="Location 2" @click="myclick('Location 2')">Location 2</a>
			</li>
			<li class="list-inline-item">
				<a href="#" class="btn btn-success" data-location="Location 3" @click="myclick('Location 3')">Location 3</a>
			</li>
		</ul>

		<!-- <div id="map"></div> -->

		<gmap-map id="map" v-bind="options">
	    	<gmap-marker
	            :key="index"
	            v-for="(m, index) in markers"
	            :position="m.position"
	            :clickable="true"
	            :draggable="true"
	            :label="m.label"
	            @click="openWindow"

	        />
	        <gmap-info-window 
                @closeclick="window_open=false" 
                :opened="window_open" 
                :position="infowindow"
                :options="{
                  pixelOffset: {
                    width: 0,
                    height: 0
                  }
                }"
            >
                Hello world!
            </gmap-info-window> 
	    </gmap-map>
	</div>	
</template>


<script>
import { gmapApi } from "vue2-google-maps";
// import data from "../data.php";

export default {
  name: "GoogleMap",
  data() {
    return {
      options: {
        zoom: 12,
        center: {
          lat: 39.9995601,
          lng: -75.1395161
        },
        mapTypeId: "roadmap"
      },
      info_marker: null,
      infowindow: {
        lat: 39.9995601,
        lng: -75.1395161
      },
      window_open: false
    };
  },
  computed: {
    google: gmapApi,
    data() {
      n{
        returreturn JSON.parse(data);
    },
    markers() {
      return this.mapData.locations.map(
        ({ label, location: { lat, lon } }) => ({
          label,
          position: {
            lat,
            lng: lon
          }
        })
      );
    }
  },
  watch: {},
  methods: {
    initialize() {
      console.log("init");
    },
    openWindow() {
      console.log(this);
      this.window_open = true;
    }
  },
  mounted: function() {
    this.initialize();
  }
};
</script>

<style>
#map {
  height: 500px;
  width: 100%;
  margin: 0 auto;
}
</style>
