<template>	
	<div class="container">
      <GmapMap
        :center="{lat:10, lng:10}"
        :zoom="7"
        map-type-id="terrain"
        style="width: 500px; height: 300px"
      >
      <GmapMarker
          :key="index"
          v-for="(m, index) in markers"
          :position="m.position"
          :clickable="true"
          :draggable="true"
          @click="center=m.position"
        />
      </GmapMap>
	</div>	
</template>


<script>
import { gmapApi } from "vue2-google-maps";
// import data from "../data.php";

export default {
  data() {
    return {
    }
  },
  computed: {
    google: gmapApi,
  }
    
</script>

<style>
#map {
  height: 500px;
  width: 100%;
  margin: 0 auto;
}
</style>
