<template>	
	<div class="container">
      <GmapMap
        :center="{lat:10, lng:10}"
        :zoom="7"
        map-type-id="terrain"
        style="width: 500px; height: 300px"
      >
      <GmapMarker
          :key="index"
          v-for="(m, index) in markers"
          :position="m.position"
          :clickable="true"
          :draggable="true"
          @click="center=m.position"
        />
      </GmapMap>
	</div>	
</template>


<script>
import { gmapApi } from "vue2-google-maps";
// import data from "../data.php";

export default {
  data() {
    return {
    
  },
  computed: {
    google: gmapApi,
    data() {
      return {
          locations: [
    {
      "name": "Location 1",
      "address": "215 West Girard Avenue 19123",
      "location": {
        "lat": 39.9695601,
        "lon": -75.1395161
      },
      "label": "200",
      "prev": "https://images.unsplash.com/photo-1489706920962-640fcad4b463?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=057570f4673903ff39658ee6ac17a66a&auto=format&fit=crop&w=600&q=60"
    },
    {
      "name": "Location 2",
      "address": "5360 Old York Road 19141",
      "location": {
        "lat": 40.034038,
        "lon": -75.145223
      },
      "label": "30",
      "prev": "https://images.unsplash.com/photo-1483519396903-1ef292f4974a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=594ae239b7e8e8ed17d447a9950adeb4&auto=format&fit=crop&w=600&q=60"
    },
    {
      "name": "Location 3",
      "address": "1350 W Girard Avenue 19123",
      "location": {
        "lat": 39.9713524,
        "lon": -75.1590360
      },
      "label": "45",
      "prev": "https://images.unsplash.com/photo-1520803703785-bfb8d67060b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5101b3f0270554cf6224f12e70cb7fb9&auto=format&fit=crop&w=600&q=60"
    }
  ]
      }
    },
    markers() {
      return this.mapData.locations.map(
        ({ label, location: { lat, lon } }) => ({
          label,
          position: {
            lat,
            lng: lon
          }
        })
      );
    }
  },
  watch: {},
  methods: {
    initialize() {
      console.log("init");
    },
    openWindow() {
      console.log(this);
      this.window_open = true;
    }
  },
  mounted: function() {
    this.initialize();
  }
};
</script>

<style>
#map {
  height: 500px;
  width: 100%;
  margin: 0 auto;
}
</style>
