<template>	
	<div class="container">
		<gmap-map id="map" v-bind="options">
	    	<gmap-marker
	            :key="index"
	            v-for="(m, index) in markers"
	            :position="m.position"
	            :clickable="true"
	            :draggable="true"
	            :label="m.label"
	            @click="openWindow"

	      />
	        <!-- <gmap-info-window 
                @closeclick="window_open=false" 
                :opened="window_open" 
                :position="infowindow"
                :options="{
                  pixelOffset: {
                    width: 0,
                    height: 0
                  }
                }"
            >
                Hello world!
            </gmap-info-window>  -->
	    </gmap-map>
	</div>	
</template>


<script>
import { gmapApi } from "vue2-google-maps";
// import data from "../data.php";

export default {
  name: "GoogleMap",
  data() {
    return {
      options: {
        zoom: 12,
        center: {
          lat: 39.9995601,
          lng: -75.1395161
        },
        mapTypeId: "roadmap"
      },
      info_marker: null,
      infowindow: {
        lat: 39.9995601,
        lng: -75.1395161
      },
      window_open: false
    };
  },
  computed: {
    google: gmapApi,
    data() {
      return {
          locations: [
    {
      "name": "Location 1",
      "address": "215 West Girard Avenue 19123",
      "location": {
        "lat": 39.9695601,
        "lon": -75.1395161
      },
      "label": "200",
      "prev": "https://images.unsplash.com/photo-1489706920962-640fcad4b463?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=057570f4673903ff39658ee6ac17a66a&auto=format&fit=crop&w=600&q=60"
    },
    {
      "name": "Location 2",
      "address": "5360 Old York Road 19141",
      "location": {
        "lat": 40.034038,
        "lon": -75.145223
      },
      "label": "30",
      "prev": "https://images.unsplash.com/photo-1483519396903-1ef292f4974a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=594ae239b7e8e8ed17d447a9950adeb4&auto=format&fit=crop&w=600&q=60"
    },
    {
      "name": "Location 3",
      "address": "1350 W Girard Avenue 19123",
      "location": {
        "lat": 39.9713524,
        "lon": -75.1590360
      },
      "label": "45",
      "prev": "https://images.unsplash.com/photo-1520803703785-bfb8d67060b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5101b3f0270554cf6224f12e70cb7fb9&auto=format&fit=crop&w=600&q=60"
    }
  ]
      }
    },
    markers() {
      return this.mapData.locations.map(
        ({ label, location: { lat, lon } }) => ({
          label,
          position: {
            lat,
            lng: lon
          }
        })
      );
    }
  },
  watch: {},
  methods: {
    initialize() {
      console.log("init");
    },
    openWindow() {
      console.log(this);
      this.window_open = true;
    }
  },
  mounted: function() {
    this.initialize();
  }
};
</script>

<style>
#map {
  height: 500px;
  width: 100%;
  margin: 0 auto;
}
</style>
