<template>
  <div id="mapBlock">
    <div id="scrollableList">
      <div class='location'>
        <div class="locationIconContainer">
          <img src="../assets/login-background.jpg" class="locationIcon">
        </div>
        <div class="locationText">
          <h3>University of Toronto</h3>
          <p>
            The best place.
          </p>
        </div>
      </div>
      <div class='location'>
        <div class="locationIconContainer">
          <img src="../assets/login-background.jpg" class="locationIcon">
        </div>
        <div class="locationText">
          <h3>University of Toronto</h3>
          <p>
            The best place.
          </p>
        </div>
      </div>
      <div class='location'>
        <div class="locationIconContainer">
          <img src="../assets/login-background.jpg" class="locationIcon">
        </div>
        <div class="locationText">
          <h3>University of Toronto</h3>
          <p>
            The best place.
          </p>
        </div>
      </div>
      <div class='location'>
        <div class="locationIconContainer">
          <img src="../assets/login-background.jpg" class="locationIcon">
        </div>
        <div class="locationText">
          <h3>University of Toronto</h3>
          <p>
            The best place.
          </p>
        </div>
      </div>
      <div class='location'>
        <div class="locationIconContainer">
          <img src="../assets/login-background.jpg" class="locationIcon">
        </div>
        <div class="locationText">
          <h3>University of Toronto</h3>
          <p>
            The best place.
          </p>
        </div>
      </div>
      <div class='location'>
        <div class="locationIconContainer">
          <img src="../assets/login-background.jpg" class="locationIcon">
        </div>
        <div class="locationText">
          <h3>University of Toronto</h3>
          <p>
            The best place.
          </p>
        </div>
      </div>
      <div class='location'>
        <div class="locationIconContainer">
          <img src="../assets/login-background.jpg" class="locationIcon">
        </div>
        <div class="locationText">
          <h3>University of Toronto</h3>
          <p>
            The best place.
          </p>
        </div>
      </div>
      <div class='location'>
        <div class="locationIconContainer">
          <img src="../assets/login-background.jpg" class="locationIcon">
        </div>
        <div class="locationText">
          <h3>University of Toronto</h3>
          <p>
            The best place.
          </p>
        </div>
      </div>
    </div>
    <div id="map">
      <GmapMap :center="{lat:10, lng:10}"
               :zoom="7"
               map-type-id="terrain"
               style="width: 700px; height: 500px">
        <GmapMarker :key="index"
                    v-for="(m, index) in markers"
                    :position="m.position"
                    :clickable="true"
                    :draggable="true"
                    @click="center=m.position" />
      </GmapMap>
    </div>
  </div>
</template>

<style>
  body {
    background-color: white;
    background-image: unset;
    background-size: cover;
    font-family: 'Lato', sans-serif;
  }

  #mapBlock {
    margin-top: 20px;
    display: inline-block;
  }

  #scrollableList {
    background-color: white;
    height: 80vh;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 300px;
    float: left;
  }

  .location {
    background-color: white;
    display: block;
    border-bottom: thin;
  }

  .locationIconContainer {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .locationIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .locationText {
    margin: 0px;
    float: left;
    width: 520px;
  }

  #map {
    background-color: white;
    margin-left: 20px;
    float: left;
    height: 80vh
  }
</style>
