<template>
  <div>
    <b-container>
        <b-row align-h="center" class="mt-5">
        <b-col cols="5">
        <b-card class="p-3">
        <h3 class="mb-4">Create a new account</h3>
        <b-form @submit="onSubmit">
        <b-form-group id="exampleInputGroup1"
            label="Email address:"
            label-for="exampleInput1">
        <b-form-input id="exampleInput1"
            type="email"
            v-model="email"
            required
            placeholder="Enter email">
        </b-form-input>
        </b-form-group>
        <b-form-group id="exampleInputGroup2"
            label="Password:"
            label-for="exampleInput2">
        <b-form-input id="exampleInput2"
            type="password"
            v-model="password"
            required
            placeholder="Enter name">
        </b-form-input>
        </b-form-group>

        <div class="d-flex justify-content-between">
            <div>
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="register" variant="danger">
              <router-link to="/login">Register</router-link>
            </b-button>
            </div>
        </div>
        </b-form>
        </b-card>
        </b-col>
        </b-row>
    </b-container>

  </div>
</template>

<script>
  import firebase from 'firebase';

  export default {
    data() {
      return {
        email: '',
        name: '',
        show: true
      }
    },
    methods: {
      onSubmit(evt) {
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        .then(
          user => {
            alert('successful')
            this.$router.push('/');
          },
          err => {
            alert("ERROR: " + err.message);
          }
        ),
        evt.preventDefault()
      },

    }
  }
</script>

<style>
  @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
  body {
    padding-top: 10%;
    background-image: url('../../assets/login-background.jpg');
    background-size: cover;
    font-family: 'Lato', sans-serif;
  }

</style>
