<template>	
	<div class="container">
      <GmapMap
        :center="{lat:45.505259, lng:-73.576907}"
        :zoom="15"
        map-type-id="roadmap"
        style="width: 700px; height: 500px"
      >
      <GmapMarker
          :key="index"
          v-for="(m, index) in markers"
          :position="m.position"
          :clickable="true"
          :draggable="false"
          @click="clik"
        />
      </GmapMap>

	</div>	
</template>


<script>
import { gmapApi } from "vue2-google-maps";
import firebase from 'firebase';
import { eventBus }  from '../../main'

// import data from "../data.php";

export default {
  data() {
      return {
          markers: [],
          build: ''
      }
  },
  methods:{
    clickMarker(){
      console.log(this);
      alert(' nkdnvjdfk');
      
    },
    fetchData(){
      firebase.database().ref('location').on('value',(snapshot)=>{
          this.markers=snapshot.val();
      });
    }
    },
    
    created(){
      this.fetchData();
    }
  
  }
  
    
</script>

<style>
#map {
  height: 1000px;
  width: 100%;
  margin: 0 auto;
}
</style>
