<template>	
	<div class="container">
      <GmapMap
        :center="{lat:10, lng:10}"
        :zoom="7"
        map-type-id="terrain"
        style="width: 500px; height: 300px"
      >
      <GmapMarker
          :key="index"
          v-for="(m, index) in markers"
          :position="m.position"
          :clickable="true"
          :draggable="true"
          @click="center=m.position"
        />
      </GmapMap>
	</div>	
</template>


<script>
import { gmapApi } from "vue2-google-maps";
// import data from "../data.php";

export default {
  data() {
      return {
          markers: [
    {
      "name": "Location 1",
      "address": "215 West Girard Avenue 19123",
      "position": {
        "lat": 39.9695601,
        "lng": -75.1395161
      },
      "label": "200",
      "prev": "https://images.unsplash.com/photo-1489706920962-640fcad4b463?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=057570f4673903ff39658ee6ac17a66a&auto=format&fit=crop&w=600&q=60"
    },
    ]
  },
      methods:{
        fetchData(){
          firebase.database().ref('location').on('value',(snapshot)=>{
              this.markers=snapshot.val();
          });
        }
      },
      created(){
        this.fetchData();
      }
  
  }}
  
    
</script>

<style>
#map {
  height: 1000px;
  width: 100%;
  margin: 0 auto;
}
</style>
