<template>	
	<div class="container">
      <GmapMap
        :center="{lat:45.505259, lng:-73.576907}"
        :zoom="15"
        map-type-id="roadmap"
        id="map"
      >
      <GmapMarker
          :key="index"
          v-for="(m, index) in markers"
          :position="m.position"
          :clickable="true"
          :draggable="false"
          @click="clickMarker(m.title)"
        />
      </GmapMap>

	</div>	
</template>


<script>
import { gmapApi } from "vue2-google-maps";
import firebase from 'firebase';
import { eventBus }  from '../../main'

// import data from "../data.php";

export default {
  data() {
      return {
          markers: [],
      }
  },
  methods:{
    clickMarker(data){
      console.log(this);
      this.$store.state.building = data; 
      
      
    },
    fetchData(){
      firebase.database().ref('location').on('value',(snapshot)=>{
          this.markers=snapshot.val();
      });
    }
    },
    
    created(){
      this.fetchData();
    }
  
  }
  
    
</script>

<style>
  #map {
    min-height: calc(100vh - 100px);
    min-
  }
</style>
