<template>
    <b-container>
    <b-row >
        <b-form-checkbox v-model="checked" name="check-button" switch>Menus or Hall</b-form-checkbox>
    </b-row>
    <b-row>{{ this.$store.state.building }}</b-row>

    <b-row >
        <!-- <b-card-group align:center columns v-if="checked" v-for="location in this.locations" v-bind:key="location.id" >
            <b-card
                    :title= "location.title"
                    :img-src= "location.image"
                    img-alt="Image"
                    img-top
            >
                <b-card-text>
                    Some random text hahahahahahaha lalalalalalala{{ location.description }}
                </b-card-text>
            </b-card>
        </b-card-group> -->
        <b-col>
            <b-card-group columns v-if="!checked" v-for="menue in this.menues" v-bind:key="menue.id" >
                <b-card
                    :title= "menue.title"
                    :img-src= "menue.image"
                    img-alt="Image"
                    img-top
                >
                    <b-card-text>
                        {{ menue.description }} 
                    </b-card-text>
                </b-card>
            </b-card-group>
        </b-col>
    </b-row>
    </b-container>
</template>

<script>
    import firebase from 'firebase'

    export default {
        data() {
            return {
                checked: false,
                locations: [],
                menues: this.$store.state.menus
            }
        },
        methods:{
            fetchData(){
                firebase.database().ref('location').on('value',(snapshot)=>{
                    this.locations=snapshot.val();
                });
                // firebase.database().ref('menu').on('value',(snapshot)=>{
                //     for(child in snapshot.val()){
                //         if(this.$store.state.building == child)
                //             this.menues=child;
                //     }
                //     alert(this.menues);

                // });
            }
        },
        created(){
            this.fetchData();
        }
    }
    </script>

<style>
</style>
