<template>
    <b-container>
    <b-row  class="col-12">
        <b-form-checkbox v-model="checked" name="check-button" switch>Menues or Hall</b-form-checkbox>
    </b-row>

    <b-row  class="col-12">
        <b-card-group align:center columns v-if="checked" v-for="location in this.locations" v-bind:key="location.id" >
        <b-card
                :title= "location.title"
                :img-src= "location.image"
                img-alt="Image"
                img-top
        >
        <b-card-text>
            {{ location.description }}
        </b-card-text>
        </b-card>
        </b-card-group>


        <b-card-group columns v-if="!checked" v-for="menue in this.menues" v-bind:key="menue.id" >
            <b-card
                :title= "menue.title"
                :img-src= "menue.image"
                img-alt="Image"
                img-top
            >
            <b-card-text>
                {{ menue.description }} 
            </b-card-text>
        </b-card>
        </b-card-group>
    </b-row>
    </b-container>
</template>

<script>
    import firebase from 'firebase'

    export default {
        data() {
            return {
                checked: true,
                locations: [],
                menues: this.$store.state.
            }
        },
        methods:{
            fetchData(){
                firebase.database().ref('location').on('value',(snapshot)=>{
                    this.locations=snapshot.val();
                });
                // firebase.database().ref('menu').on('value',(snapshot)=>{
                //     for(child in snapshot.val()){
                //         if(this.$store.state.building == child)
                //             this.menues=child;
                //     }
                //     alert(this.menues);

                // });
            }
        },
        created(){
            this.fetchData();
        }
    }
    </script>

<style>
    .col-12{
        width: 1000px
    }
</style>
