<template>
    <div>
        <b-container class="bv-example-row">
            <b-row>
                <b-col cols="4">
                    <app-menus></app-menus>
                </b-col>
                <b-col cols="8">
                    <app-map> </app-map>
                </b-col>
            </b-row>
        </b-container>


    </div>
</template>

<script>
import Map from './Map.vue';
import Menus from './Menus.vue';
import firebase from 'firebase';
import { eventBus }  from '../../main'


export default {
    data(){
        return{
            var: 3247838753,
            locations: [],
            email: ''
        }
    },
    components:{
        appMap: Map,
        appMenus: Menus
    },
    methods: {
        writeUserData() {
            firebase.database().ref('/user/').set({
            email: this.email,
        })

    }
    }


}
</script>