<template>
    <div>
        <button v-on:click="writeUserData"> </button>
    </div>
</template>

<script>
import Map from './Map/Map'
import { db } from '../../config/firebaseConfig'

export default {
    data(){
        return{
            var: 3247838753
        }
    },
    components:{
        appMap: Map
    },
    firestore () {
    return {
      locations: db.collection('locations').orderBy('createdAt')
    }
  },
    methods:{
      writeUserData () {      // <-- and here 
        alert('ncdhbhcjfdbh');
        // const createdAt = new Date()
        db.collection('newbhfdhj').add(null);
    }

    }

}
</script>