<template>
    <div>
        <b-container class="bv-example-row">
            <b-row>
                <b-col cols="4">
                    
                </b-col>
                <b-col cols="8">
                    <app-map> </app-map>
                </b-col>
            </b-row>
        </b-container>

    

    </div>
</template>

<script>
import Map from './Map/Map'
import Menus from './'
import { db } from '../../config/firebaseInit'
import firebase from 'firebase'

export default {
    data(){
        return{
            var: 3247838753,
            locations: [],
            email: ''
        }
    },
    components:{
        appMap: Map
    },
    methods: {
        writeUserData() {
            // alert('bgsdbghxdbg');
            firebase.database().ref('/user/').set({
            email: this.email,
        })
        // alert('!!!') 

    }
    }


}
</script>