<template>
    <div>
        <h1>Recommand Component</h1>
        <app-map></app-map>
    </div>
</template>

<script>
import Map from './Map/Map'

export default {
    Component:{
        appMap: MAp
    }
}
</script>