<template>
    <div>
        <button v-on:click="writeUserData"> </button>
        <p>{{ locations }}</p>
    </div>
</template>

<script>
import Map from './Map/Map'
import { db } from '../../config/firebaseInit'

export default {
    data(){
        return{
            var: 3247838753,
            locations: []
        }
    },
    components:{
        appMap: Map
    },
    firestore () {
        return {
            locations: db.collection('locations').orderBy('createdAt')
        }
    },
    methods:{
        writeUserData() {
            alert()
            firebase.database().ref('users/' ).set({
            username: 'cnds',
            email: 'email',
            profile_picture : 'ageUrl'    
        })
    }


}
</script>