<template>
    <div>
        <app-map> </app-map>
    </div>
</template>

<script>
import Map from './Map/Map'

export default {
    components:{
        appMap: Map
    },
    methods:{
         writeUserData()(userId, name, email, imageUrl) {
            firebase.database().ref('users/' + userId).set({
            username: name,
            email: email,
            profile_picture : imageUrl
        });
}
    }

}
</script>