<template>
    <div>
        <h1>Recommand Component</h1>
        <app-oogleMapLoader> </app-oogleMapLoader>
    </div>
</template>

<script>
import GoogleMapLoader from './Map/GoogleMapLoader'

export default {
    Component:{
        appGoogleMapLoader: GoogleMapLoader
    }
}
</script>