<template>
    <div>
        <button v-on:click="writeUserData"> </button>
    </div>
</template>

<script>
import Map from './Map/Map'

export default {
    data(){
        return{
            var: 3247838753
        }
    },
    components:{
        appMap: Map
    },
    methods:{
        writeUserData() {
            alert('nbcdhjfbvdfhj');
            firebase.database().ref('users/').set({
                text: this.var
        });
}
    }

}
</script>