<template>
    <div>
    <app-map>
    </app-map>

    </div>
</template>

<script>
import Map from './Map/Map'
import { db } from '../../config/firebaseInit'
import firebase from 'firebase'

export default {
    data(){
        return{
            var: 3247838753,
            locations: [],
            email: ''
        }
    },
    components:{
        appMap: Map
    },
    methods: {
        writeUserData() {
            // alert('bgsdbghxdbg');
            firebase.database().ref('/user/').set({
            email: this.email,
        })
        // alert('!!!') 

    }
    }


}
</script>