<template>
    <div>
        <h1>Recommand Component</h1>
        <app-googleMapLoader> </app-googleMapLoader>
    </div>
</template>

<script>
import GoogleMapLoader from './Map/Map'

export default {
    Component:{
    }
}
</script>