<template>
    <div>
        <b-container class="bv-example-row">
  <b-row>
    <b-col>col</b-col>
    <b-col>col</b-col>
    <b-col>col</b-col>
    <b-col>col</b-col>
  </b-row>

  <b-row>
    <b-col cols="8">col-8</b-col>
    <b-col cols="4">col-4</b-col>
  </b-row>
</b-container>

    <app-map>
    </app-map>

    </div>
</template>

<script>
import Map from './Map/Map'
import { db } from '../../config/firebaseInit'
import firebase from 'firebase'

export default {
    data(){
        return{
            var: 3247838753,
            locations: [],
            email: ''
        }
    },
    components:{
        appMap: Map
    },
    methods: {
        writeUserData() {
            // alert('bgsdbghxdbg');
            firebase.database().ref('/user/').set({
            email: this.email,
        })
        // alert('!!!') 

    }
    }


}
</script>