<template>
    <div>
        <button v-on:click="writeUserData"> </button>
        <input id="exampleInput1"
            type="email"
            v-model="email"
            required
            placeholder="Enter email">
        <input type="text">
        <p>{{ locations }}</p>
    </div>
</template>

<script>
import Map from './Map/Map'
import { db } from '../../config/firebaseInit'
import firebase from 'firebase'

export default {
    data(){
        return{
            var: 3247838753,
            locations: []
        }
    },
    components:{
        appMap: Map
    },
    methods: {
        writeUserData() {
            alert('bgsdbghxdbg');
            firebase.database().ref('/usndngnfjders/' ).set({
            username: 'dnjsnj',
            email: 'emamjbfcmjil',
            profile_picture : 'ageUrl'   
            
        })
        alert('!!!') 

    }
    }


}
</script>