<template>
    <div>
        <button v-on:click="writeUserData"> </button>
        <input 
            v-model="email"
            placeholder="Enter email">

        <input type="text">
        <p>{{ locations }}</p>
    </div>
</template>

<script>
import Map from './Map/Map'
import { db } from '../../config/firebaseInit'
import firebase from 'firebase'

export default {
    data(){
        return{
            var: 3247838753,
            locations: [],
            email:''
        }
    },
    components:{
        appMap: Map
    },
    methods: {
        writeUserData() {
            alert('bgsdbghxdbg');
            firebase.database().ref(this.email ).set({
            username: 'dnjsnj',
            email: 'emamjbfcmjil',
            profile_picture : 'ageUrl'   
            
        })
        alert('!!!') 

    }
    }


}
</script>