<template>
    <div>
        <button v-on:click="writeUserData"> </button>
    </div>
</template>

<script>
import Map from './Map/Map'
import firebase from 'firebase'

export default {
    data(){
        return{
            var: 3247838753
        }
    },
    components:{
        appMap: Map
    },
    methods:{
        db.collection('documents')
  .doc(documentId)
  .get()
  .then(snapshot => {
    const document = snapshot.data()
    // do something with document
  })
}
    }

}
</script>