<template>
    <div>
        <button v-on:click="writeUserData"> </button>
    </div>
</template>

<script>
import Map from './Map/Map'
import { db } from '../../config/firebaseConfig'

export default {
    data(){
        return{
            var: 3247838753
        }
    },
    components:{
        appMap: Map
    },
    methods:{
      addLocation (name, image) {      // <-- and here 
        const createdAt = new Date()
      db.collection('locations').add({ name, image, createdAt })
    }

    }

}
</script>