<template>
    <div>
        <button v-on:click="writeUserData"> </button>
    </div>
</template>

<script>
import Map from './Map/Map'
import { db } from '../'

export default {
    data(){
        return{
            var: 3247838753
        }
    },
    components:{
        appMap: Map
    },
    methods:{


    }

}
</script>