<template>
    <h1>Recommand Component</h1>
</template>

<script>
import GoogleMapLoader from './Map/GoogleMapLoader'
export default {
    Component:{
        appGoogleMapLoader: GoogleMapLoader
    }
}
</script>