<template>
    <div>
        <app-map> </app-map>
        <button v-on:click="writeUserData"></button>
    </div>
</template>

<script>
import Map from './Map/Map'

export default {
    components:{
        appMap: Map
    },
    methods:{
        writeUserData() {
            firebase.database().ref('users/' + userId).set({
            username: name,
            email: email,
            profile_picture : imageUrl
        });
}
    }

}
</script>